<%= simple_form_for @list do |l| %>
  <%= l.input :name, label: "List name" %>

  <div class="d-flex gap-2 mt-3">
    <%= l.button :submit, "Create", class: "btn btn-primary" %>

    <%= link_to "Cancel", root_path, class: "btn btn-secondary" %>
  </div>
<% end %>
